{{> header}}

{{> sidebar}}

<div class="content-wrapper">

<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1>Event Category</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
</ol>
</div>
</div>
</div>
</section>

<section class="content">
<div class="container-fluid">
<div class="row">

<div class="col-md-12">

<div class="card card-primary">
<div class="card-header">
<h3 class="card-title">Event Category</h3>
</div>
<form action="/insertcategory" method="POST" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label for="categoryname">Category Name</label>
            <input type="text" class="form-control" name="categoryname" id="categoryname" placeholder="">
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
</div>

</div>
</section>

</div>

{{> footer}}