{{> header}}

{{> sidebar}}

<div class="content-wrapper">

<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1>Weakend Event Category</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
</ol>
</div>
</div>
</div>
</section>

<section class="content">
<div class="container-fluid">
<div class="row">

<div class="col-md-12">

<div class="card card-primary">
<div class="card-header">
<h3 class="card-title">Weakend Category</h3>
</div>
<form action="/insertweakendcategorydata" method="POST" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label for="weakendcategoryname">Select Category</label>
            <select class="form-control" id="weakendcategorySelect" name="weakendcategoryid">
                <option value="">Select a category</option>
                {{#each weakendcategories}}
                    <option value="{{this._id}}">{{this.weakendcategoryname}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Weakend Template</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile" name="weakendtemplate">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


</div>
</div>

</div>
</section>

</div>

{{> footer}}