<footer class="main-footer">
<strong>Copyright &copy; 2024-2025 Invitexx</strong>
All rights reserved.
<div class="float-right d-none d-sm-inline-block">
</div>
</footer>
</div>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="/backend/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/backend/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/backend/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/backend/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="/backend/dist/css/adminlte.min.css?v=3.2.0">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/backend/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/backend/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/backend/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/backend/plugins/datatables-buttons/js/buttons.html5.min.js"></script>

<script>
  // Logout function
  function logout() {
    // Clear token from local storage
    localStorage.removeItem('token');

    // Redirect to the login page or any other desired location
    window.location.href = '/login';
  }

  // Add event listener to the logout button
  document.querySelector('.dropdown-item-logout').addEventListener('click', function(e) {
    e.preventDefault(); // Prevent default action
    logout(); // Call the logout function
  });
</script>



<script nonce="fb07df1e-f7ce-4ad1-b302-5b7adf7b1947">
$(document).ready(function() {
    $('#example1').DataTable({
        "paging": true, // Enable pagination
        "lengthChange": true, // Enable the ability to change the number of records displayed per page
        "searching": true, // Enable search box
        "ordering": true, // Enable column ordering
        "info": true, // Display table information summary
        "autoWidth": false, // Disable automatic column width calculation
        "responsive": true, // Enable responsive design
        "buttons": [
            'copy', 'excel', 'pdf' // Include the buttons you want
        ]
    });
});
</script>
<!-- Load jQuery first -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Then, load DataTables -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script src="/backend/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/backend/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/backend/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/backend/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/backend/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/backend/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/backend/plugins/jszip/jszip.min.js"></script>
<script src="backend/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/backend/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/backend/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/backend/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/backend/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script src="/backend/dist/js/adminlte.min.js?v=3.2.0"></script>

<script src="/backend/dist/js/demo.js"></script>
<script src="/backend/plugins/jquery/jquery.min.js"></script>

<script src="/backend/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/backend/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

<script src="/backend/dist/js/adminlte.js?v=3.2.0"></script>

<script src="/backend/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>


<script src="/backend/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/backend/plugins/raphael/raphael.min.js"></script>
<script src="/backend/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/backend/plugins/jquery-mapael/maps/usa_states.min.js"></script>

<script src="/backend/plugins/chart.js/Chart.min.js"></script>
<!-- Include DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<!-- Include DataTables Buttons extension JavaScript -->
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>


<script src="/backend/dist/js/pages/dashboard2.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- DataTables -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
</html>
