<aside class="main-sidebar sidebar-dark-primary elevation-4">

<a href="index3.html" class="brand-link">
<img src="/backend/dist/img/AdminLTELogo.png" alt="Invetxx Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
<span class="brand-text font-weight-light">Invetxx</span>
</a>

<div class="sidebar">

<div class="form-inline">
<div class="input-group" data-widget="sidebar-search">
<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
<div class="input-group-append">
<button class="btn btn-sidebar">
<i class="fas fa-search fa-fw"></i>
</button>
</div>
</div>
</div>

<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

<li class="nav-item menu-open">
<a href="#" class="nav-link active">
<i class="nav-icon fas fa-tachometer-alt"></i>
<p>
Event
<i class="right fas fa-angle-left"></i>
</p>
</a>
<ul class="nav nav-treeview">
<li class="nav-item">
<a href="/category" class="nav-link">
<i class="far fa-circle nav-icon"></i>
<p>Add Event Category</p>
</a>
</li>
<li class="nav-item">
<a href="/addeventcategory" class="nav-link">
<i class="far fa-circle nav-icon"></i>
<p>Event Category</p>
</a>
</li>
</ul>
</li>
<li class="nav-item menu-open">
<a href="#" class="nav-link active">
<i class="nav-icon fas fa-tachometer-alt"></i>
<p>
Weakend
<i class="right fas fa-angle-left"></i>
</p>
</a>
<ul class="nav nav-treeview">
<li class="nav-item">
<a href="/wekendcategory" class="nav-link">
<i class="far fa-circle nav-icon"></i>
<p>Weakend Category</p>
</a>
</li>
<li class="nav-item">
<a href="./index.html" class="nav-link">
<i class="far fa-circle nav-icon"></i>
<p>Weakend Category List</p>
</a>
</li>
</ul>
</li>
</ul>
</nav>

</div>

</aside>